assignment 2

pass or fail

In [38]:
student_results = {
    'ram': {'Math': 85, 'Science': 92, 'History': 78},
    'Bob': {'Math': 72, 'Science': 88, 'History': 95},
    'sham': {'Math': 95, 'Science': 85, 'History': 70}
}
student_name = input("Enter student's name: ")
if student_name in student_results:
    results = student_results[student_name]
    print(f"Results for {student_name}:")
    for subject, score in results.items():
        print(f"{subject}: {score}")
else:
    print(f"No results found for {student_name}.")

Enter student's name: ram
Results for ram:
Math: 85
Science: 92
History: 78

password verification

In [31]:
registered_users = {'alice', 'bob', 'charlie'}
user_credentials = {'alice': '1234', 'bob': '5678', 'charlie': '9012'}
username = input("Enter your username: ")
password = input("Enter your password: ")
if username in registered_users:
    if user_credentials[username] == password:
        print("Authentication successful. Welcome back!")
    else:
        print("Incorrect password. Authentication failed.")
else:
    print("Username not found. Authentication failed.")

Enter your username: alice
Enter your password: 1234
Authentication successful. Welcome back!

temp monitoring

In [35]:
threshold_temperature = 25.0

latest_temperature = float(input("Enter the latest temperature: "))

if latest_temperature > threshold_temperature:
    print("Alert: Temperature is above the threshold!")
else:
    print("Temperature is within the safe range.")

Enter the latest temperature: 45
Alert: Temperature is above the threshold!

divisibility by 3 and 2

In [36]:
divisible_by_3 = []
even_numbers = set()

for number in range(1, 101):
    if number % 3 == 0:
        divisible_by_3.append(number)
    if number % 2 == 0:
        even_numbers.add(number)

print("Numbers divisible by 3:", divisible_by_3)
print("Even numbers:", even_numbers)

Numbers divisible by 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
Even numbers: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100}

grading system

In [37]:
student_scores = {'Alice': 85, 'Bob': 70, 'Charlie': 92}

for student, score in student_scores.items():
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    else:
        grade = 'F'

    print(f"{student} scored {score} and received a grade {grade}.")

Alice scored 85 and received a grade B.
Bob scored 70 and received a grade C.
Charlie scored 92 and received a grade A.